html, body {
  margin: 0;
  padding: 0;
  background-color: #639eb0;
  color: #e0ccd4;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana;
}

canvas {
  display: block;
}

a {
  color: #e0ccd4;
}

h1 {
  position: center;
  outline-style: dotted;
  display: inline-block;
  color: #957796;
  width: 50%;
  border: 4px solid #de92ac;
  text-shadow: 2px 2px 2px rgb(214, 186, 209);
}

h2 {
position: center;
color: #d0a7d1;
background: rgba(212,212,212, 0.3);
}

p.info {
  width: 70%;
  position: right;
  display: inline-block;
  color: #ddc1de
}

div.pic {

}
p.pic2 {

}

h3 {
  width: 95%;
  position: right;
  display: inline-block;
  color: #ddc1de

}

iframe {
  border: 10px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #303030;
  padding: 10px;
}

.grid-item {
  background-color: #b4cfd6;
  color: #4d4747;
  border-style: dashed;
  border: 3px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
